.alerts {
  position: fixed;
  top: 1.5rem;
  left: calc(50% - 20rem);
  display: flex;
  flex-direction: column;
  /* 
    TODO: Really crappy hard-coded value. This should use the Bulma SCSS variable. Storybook 6 is not
    working at all with using SCSS modules. Still looking into this but don't want to hold up this changeset on
    just this.
  */
  z-index: 31;
}

.alerts > * {
  margin-bottom: 1rem;
}
